/* CUSTOMIZATION: MIXED BOOTSTRAP STYLES AND BENGGA STYLES */

/* GLOBALS */

/* Links */
a,
a:focus,
a:hover {
    color: #bf9000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

.btn:active {
    width: inherit;
    background-image: none;
    outline: 0px none;
    box-shadow: none;
}

/*
 * Base structure
 */

html,
body {
    background-color: #fff; //rgba(191, 144, 0, 0.06);
}

body {
    color: #727272;
    font-size: 16px;
    /*font-family: fontbodyHNLTComThCn;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}

/* Fonts */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

@font-face {
    font-family: fontHarlow; /* Change this to  fontHarlow once done with the project */
    src: url("../fonts/harlow/HARLOWSI.TTF"), url("../fonts/harlow/HARLOWSI.woff"), url("../fonts/harlow/HARLOWSI.otf"), url("../fonts/harlow/HARLOWSI.eot"); /* IE9 */
}


@font-face {
    font-family: fontbodyHNLTComThCn; /* Change this to  fontbodyHNLTComThCn once done with the project */
    src: url("../fonts/HNLTComThCn/HelveticaNeueLTCom-ThCn.ttf"), url("../fonts/HNLTComThCn/HelveticaNeueLTCom-ThCn.woff"), url("../fonts/HNLTComThCn/HelveticaNeueLTCom-ThCn.otf"), url("../fonts/HNLTComThCn/HelveticaNeueLTCom-ThCn.eot"); /* IE9 */
}


@font-face {
    font-family: fontbodyHNLTStdCn; /* Change this to  fontbodyHNLTStdCn once done with the project */
    src: url("../fonts/HNLTStdCn/HelveticaLTStd-Cond.otf");
}


article {
    margin-top: 3rem;
    text-align: justify;
}

.article-content li{
    margin: 0.5em 0px 0px 0.5em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

hr {
    border-color: rgba(197, 197, 197, 0.2); -moz-use-text-color -moz-use-text-color;
}

h1, h2, h3, h4, h5, h6, .navbar, footer {
    text-shadow: none;
    text-align:left;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
}

h2, h3, h4, h5, h6, .navbar, footer {
    font-family: fontbodyHNLTComThCn !important;
}

h2, h3, h4, h5, h6 {
    margin-top: 20px !important;
}

h3, h4, h5, h6 {
    color: #666;
}


h1{
    font-size: 3em;
}

h2 {
    font-size: 2.438em;
    font-weight: 700 !important;
}

h3 {
    font-weight: 600 !important;
    font-size: 1.5em;
    //color: #444;
}

h4 {
    //font-size: 1.438em;
    font-weight: 400 !important;
}

/*h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }*/



footer {
    //font-size: 1.1em;
}






/* GLOBAL CALLS */

.uppercase {
    text-transform: uppercase;
}

.divider-small {
    margin: 20px 0px;
}

.divider-medium {
    margin: 40px 0px;
}

.divider-large {
    margin: 80px 0px;
}

.no_margin {
    margin: 0px !important;
}



/* MAIN PAGES */

#inner-index .videobtn .text {
    font-family: fontbodyHNLTComThCn;
}

#inner-index .logotitle-heading {

    font-size: 9em;
    color: #836407 !important;
}

#inner-index h2 .logotitle-sub-heading {
    color: #333 !important;
}

#carousel-mobile {
    display: none;
}

.videobtn {
   
    border: 1px solid rgba(191, 144, 0, 0.5);
   
}

.logotitle-heading{
    
    overflow:visible;
}

@media (max-width: 320px) {
    .inner {
        padding: 0;
    }
    .inner-1 {
        position: relative;
    }
    .inner .main-1 {
        min-width: 300px;
    }

    .logotitle-sub-heading {
        font-size: 2em !important;
    }
    .divider-small {
        margin: 4px 0px;
    }
    #inner-index .inner-1 {
        min-height: 0 !important;
        padding: 0  !important;
    }
    #inner-index .main {
        padding: 0  !important;
        // background-color: #00f;

    }
    #inner-index .logotitle-heading {
        display: none;
        height: 0 !important;
    }
    #inner-index .marketing {
        position: relative;
        background-color: aqua;
        height: 100%;
    }
    .container {
        padding: 0;
    }

    .main-content .carousel-viewport{
        position: relative;
    }
    #footer-index {
        display: none;
        //background-color: #ccc;
        height: 100%;
    }
    
    /*#footer-index .main-footer-links{
        display: none !important;
        height: 0px;
    }*/

    #inner-index .main-1{
        max-width: 320px;
    }
}

@media (min-width: 321px) {

    #index-navbar {
        display: none;
    }
     
}


@media (max-width: 480px) {
    
    #inner-index .logotitle-heading {
        font-size: 6em !important;
    }
    #inner-index .main {
        padding-left: 10px  !important;
        padding-right: 10px  !important;
       
    }
     .inner-1{
        height: 100%;
        min-height: 640px;
        position: relative;
        //background-color: #0f0;
    }


}

@media (min-width: 480px) {


    #inner-index .inner-1 {
        min-height: 0 !important;
    }
    #footer-index {
        /*display: none;*/
        background-color: #ccc;
        height: 0;
    }

    .inner-1{
        height: 800px;
        min-height: 640px;
        //background-color: #f00; 
    }
}



@media (max-width: 640px){
    .inner-1{
        height: 100%;
        min-height: 640px;
        position: relative;
        //background-color: #0f0;
    }
}

#footer-index .main-footer-links {
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center !important;
    border-bottom: 1px solid rgba(140, 140, 140, 0.2); //#8C8C8C;
    width: 100%;
    max-width: 66%;
    min-width: 100%;
}

.footer__row {
    display: block;
    padding: 0;
}



.footer__normal, .footer__link {
    display: inline-block;
    padding-right: 0.75rem;
    margin-bottom: 0.5rem;
}

/* INNER PAGES */

.tagline {
    font-family: fontbodyHNLTStdCn;
    font-size: 3em;
    color: #666;
}

.bs-social {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.page-title {
    color: #bf9000;
}

@media (min-width: 0px) and (max-width: 1024px) {
    .navbar {
        font-size: 1em;
    }
}

/* NAV BAR */

.navbar-brand {
    font-family: fontHarlow;
    font-size: 2em;
    padding-left: 10px;
    color: #bf9000;
}

.navbar-default.bs-docs-nav {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar-default.bs-docs-nav .navbar-brand {
    color: rgb(131, 100, 7); //#bf9000;
}

.navbar-default.bs-docs-nav .navbar-nav > li > a {
    color: rgb(131, 100, 7); //rgb(102, 102, 102);
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-default.bs-docs-nav .navbar-nav > li > a:hover, 
.navbar-default.bs-docs-nav .navbar-nav > .active > a, 
.navbar-default.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #bf9000;
    background-color: rgba(255, 255, 255, 0);
}

.container > .navbar {
    margin: 2.5rem auto;
}


/* NAV BAR - MENU */

.navbar-default.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #bf9000;
}

.navbar-default.bs-docs-nav .navbar-header .navbar-toggle {
    border-color: #fff;
}

.navbar-default.bs-docs-nav .navbar-header .navbar-toggle:hover, 
.navbar-default.bs-docs-nav .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.navbar li {
    padding-left: 0.5rem;
}


@media (max-width: 767px) {

    #inner-index .logotitle-heading {
        font-size: 6em;
    }
    .navbar-inner {
        max-height: none;
    }

}

@media (max-width: 768px) {

    .inner .main-1{
        min-width: 100%;
    }

}


@media (min-width: 768px) {
    /* NAV BAR */
    .navbar-default.bs-docs-nav {
        background-color: rgba(255, 99, 99, 0);
    }
    .navbar-brand {
        font-size: 4em;
    }
    .logo-position-0.col-logo .navbar-brand.navbar-brand-link {
        float: left;
    }
    .col-logo.logo-position-0, .col-nav.logo-position-1 {
        padding-right: 0;
        padding-left: 15px;
        float: left;
        text-align: left;
    }
    .col-logo.logo-position-1, .col-nav.logo-position-0 {
        padding-right: 15px;
        padding-left: 0;
        float: right;
        text-align: right;
    }
    .navbar-nav {
        float: right;
        margin: 0;
    }


    .carousel-viewport {
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 768px) and (orientation: portrait){

    .article-content {
        display: relative;
        margin-top: 14rem;
        //background-color: #f00;
    }
}




/* FLOATS */

/*** toTop ***/
.btn-primary {
    color: #FFF;
    background-color: #bf9000;
    border-color: #bf9000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #bf9000;
    border-color: #bf9000;
}